---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="About website | Niila Viinamäki">
    <p>Made with <a href="https://astro.build/" target="_blank">Astro</a></p>
    <p>Icon: <a href="https://commons.wikimedia.org/wiki/File:Eo_circle_orange_letter-n.svg" target="_blank">Emoji One</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</p>
    <p>Inspiration from:</p>
    <ul>
        <li><a href="https://www.taniarascia.com/" target="_blank">TaniaRascia.com</a></li>
        <li><a href="https://andrewzah.com/" target="_blank">AndrewZah.com</a></li>
        <li><a href="https://shud.in/" target="_blank">shud.in</a></li>
    </ul>
</BaseLayout>