---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="About website | Niila Viinamäki">
    <p>Made with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a></p>
    <p><a href="https://github.com/vike256/niila.fi/" target="_blank" rel="noopener noreferrer">Open source on GitHub</a> and automatically deploys to <a href="https://pages.cloudflare.com/" target="_blank" rel="noopener noreferrer">Cloudflare Pages</a>.</p>
    <p>I only have to pay for the domain which is ~15€/year.</p>
    <p>Icon: <a href="https://commons.wikimedia.org/wiki/File:Eo_circle_orange_letter-n.svg" target="_blank" rel="noopener noreferrer">Emoji One</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</p>
    <p>Inspiration from:</p>
    <ul>
        <li><a href="https://www.taniarascia.com/" target="_blank" rel="noopener noreferrer">TaniaRascia.com</a></li>
        <li><a href="https://andrewzah.com/" target="_blank" rel="noopener noreferrer">AndrewZah.com</a></li>
        <li><a href="https://shud.in/" target="_blank" rel="noopener noreferrer">shud.in</a></li>
    </ul>
</BaseLayout>