---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import profileImg from '/src/images/profile.jpg'
---

<BaseLayout title="About | Niila Viinamäki">
    <div class="profile-card">
        <Image id="profile-img" src={profileImg} alt="My profile image" />  
        <div class="profile-card-right">
            <ul>
                <li>GitHub: <a href="https://github.com/vike256" target="_blank">vike256</a></li>
                <li>YouTube: <a href="https://youtube.com/@vike256" target="_blank">vike256</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/niilav/" target="_blank">niilav</a></li>
            </ul>
        </div>
    </div>
</BaseLayout>