---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Donate | Niila Viinamäki">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'A0A5XSDZ8');kofiwidget2.draw();</script> 
    <p><strong>BTC:</strong> bc1q39wcjfja6y8kac0daca2mn7k0gmenqyasywyt3</p>
    <p><strong>ETH:</strong> 0x26e05D05CcC684b8ebEB220C3a70D0Fca50f7FBC</p>
    <p><strong>LTC:</strong> LasacHa5RoHtvMDi1iMdMBVwtV9j4PedLY</p>
    <p><strong>XMR:</strong> 4A9hGUuPwzNi3NJSwmaMgMUJx6uqzUK97RXvFRw6o1WbKkKV4MZW4WJd1Sw8XvpqNmB5ixEJfdHZuETbZpKjp93KAmweJd3</p>
    <p><strong>ZEC:</strong> t1JJ1yTfJMLtcymDkgH9cZpEVyKNwETt9La</p>
</BaseLayout>