---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostCard from '../components/PostCard.astro'

const allPosts = await Astro.glob('/src/pages/posts/*.mdx');
---

<BaseLayout title="Niila Viinamäki">
    <h2>Latest post</h2>
    <PostCard post={allPosts.reverse()[0]} />
</BaseLayout>