---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale:1.0">
    </head>
    <body>
        <div class="header">
            <div class="header-flex">
                <a href="/" id="home">Niila Viinamäki</a>
                <div class="header-right">
                    <a href="/posts/" style="text-align: end;">Posts</a>
                    <a href="/about/">About</a>
                </div>
            </div>
            <hr>
        </div>
        <slot />
        <div class="footer">
            <hr>
            <div class="footer-flex">
                <div class="socials">
                    <a href="https://github.com/vike256" target="_blank">GitHub</a>
                    <a href="https://youtube.com/@vike256" target="_blank">YouTube</a>
                    <a href="https://www.linkedin.com/in/niilav/" target="_blank">LinkedIn</a>
                </div>
                <div class="donate">
                    <a href="/donate/">Donate</a>
                </div>
            </div>
            <div class="footer-bottom">
                <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a> 2024 © Niila Viinamäki.
            </div>
        </div>
    </body>
</html>

<style is:global>
    body {
        font-family: Open Sans, Arial;
        font-size: 16px;
        background-color: white;
        color: #454545;
        padding: 0.5em 1em;
        margin: 0px auto;
        max-width: 650px;
        line-height: 1.4;
        overflow-wrap: break-word;
    }

    .header-flex {
        display: flex;
        margin: 1em 0em;
    }

    .header a {
        color: inherit;
        text-decoration: inherit;
        border-bottom: none;
    }

    a {
        color: orangered;
        text-decoration: none;
        max-width: fit-content;
    }

    a:hover {
        color: orangered;
        text-decoration: underline;
    }

    .header-right {
        flex: 1;
        text-align: end;
    }

    .header-right a {
        margin-left: 0.4em;
    }

    #home {
        flex: 1;
        font-weight: bold;
    }

    .header {
        margin-bottom: 2em;
    }

    .footer {
        margin-top: 2em;
    }

    .footer-flex {
        display: flex;
    }

    .socials {
        flex: 1;
        display: flex;
        column-gap: 1em;
    }

    .donate {
        flex: 1;
        text-align: end;
    }

    .footer-bottom {
        margin-top: 4em;
    }

    hr {
        margin: 1em 0em;
    }

    h1, h2, h3,
    h4, h5, h6 {
        border-bottom: 1px solid #ccc;
        margin: 0.5em 0em;
    }

    img {
        max-width: 1vm;
    }

    #profile-img {
        border-radius: 50%;
        width: 33%;
        height: auto;
        display: inline-block;
    }

    .profile-card {
        display: flex;
        column-gap: 32px;
    }

    .profile-card-right {
        align-self: center;
    }
</style>