---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
---
<html>
    <head>
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <a href="." class="header" style="font-weight: bold;">Niila Viinamäki</a>
        <a href="posts" class="header" style="text-align: end;">Posts</a>
        <a href="projects" class="header">Projects</a>
        <a href="about" class="header">About</a>
        <slot />
    </body>
</html>

<style is:global>
    html {
        background-color: #EEEEEE;
        color: #111111;
        font-family: sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: auto;
        max-width: 650px;
    }

    .header {
        
    }
</style>