---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
---
<html>
    <head>
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <p>Niila Viinamäki</p>
        <a href="posts">Posts</a>
        <a href="projects">Projects</a>
        <a href="about">About</a>
        <slot />
    </body>
</html>

<style is:global>
    html {
        background-color: #EEEEEE;
        color: #111111;
        font-family: sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: auto;
        max-width: 650px;
    }
</style>